{% load static %}
<script data-cfasync="false" src="https://colorlib.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="{% static 'js_2/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js_2/bootstrap.js' %}"></script>
