<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
        {% include 'css_2.html' %}
    </head>
    <body>
        <br>
        <div class="container">
            <div class="jumbotron">
                <div class="row text-center">
                    <div class="col">
                    </div>
                    <div class="col-8">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-lg">USERNAME</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                        </div>
                        <br>
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-lg">PASSWORD</span>
                            </div>
                            <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">

                        </div>
                        <br>
                        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="login()">LOGIN</button>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
            {% include 'footer.html' %}
            {% include 'script.html' %}
        </div>
    </body>
</html>


<script>
    function login() {
        $.post("post_login",
                {name: "John", time: "2pm", csrfmiddlewaretoken: '{{ csrf_token }}'})
                .done(function (data) {
                    alert(data);
                });
    }
</script>
