<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    {% include 'css.html' %}
  </head>
  <body>
    {% include 'header.html' %}
    {% include 'start.html' %}
    <div class="container">
      <div class="jumbotron">
        <!-- <h1>{{data_control_template.control_contact}}</h1> -->
        Library
      </div>
    {% include 'footer.html' %}
    {% include 'script.html' %}
  </body>
</html>
